<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="DeviceServer.Properties.Settings.devicesConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\devices.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="sh_devicesEntities" connectionString="metadata=res://*/DevicesModel.csdl|res://*/DevicesModel.ssdl|res://*/DevicesModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=2147483647;database=sh_devices&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>